$whiteColor : #fff;
$greenColor: #00b998;
$errorColor:#ed4a2d;
$borderColor:#c5c5c5;
$focusColor:#633EA5;
$fixedFooterleftColor:#ffb300;
$fixedFooterRightColor:#ffbe00;
$globalPurpleColor:#633ea5;
$feedBackColor:#fca542;
$errorColor:#d94a49;
