<header class="header_continer">
    <div class="rightSide_container">
        <img src="../images/Movie_trilers.png" alt="" class="img_icon">
        <button class="comming_soon--btn">COMMING SOON</button>
        <button class="now_showing--btn">NOW SHOWING</button>
    </div>
    <div class="leftSide_container">
        <select name="" id="" class="Dropdown_Option">
            <option value="Fresh" class="dropdown-content">Fresh</option>
            <option value="Popular" class="dropdown-content">Popular</option>
        </select>
        <select name="" id="" class="Dropdown_Option"> 
            <option value="English" class="dropdown-content">English</option>
            <option value="Kannada" class="dropdown-content">Kannada</option>
            <option value="Hindi" class="dropdown-content">Hindi</option>
            <option value="Marati" class="dropdown-content">Marati</option>
            <option value="Telugu" class="dropdown-content">Telugu</option>
            <option value="Tamil" class="dropdown-content">Tamil</option>
            <option value="Malayalam" class="dropdown-content">Malayalam</option>
        </select>
        <select name="" id="" class="Dropdown_Option">
            <option value="All Genres">All Genres</option>
            <option value="Action">Action</option>
            <option value="Adventure">Adventure</option>
            <option value="Animation">Animation</option>
            <option value="Biography">Biography</option>
            <option value="Clasic">Clasic</option>
            <option value="Comedy">Comedy</option>
            <option value="Crime">Crime</option>
            <option value="Drama">Drama</option>
            <option value="Family">Family</option>
            <option value="Fantsay">Fantsay</option>
            <option value="Histroy">Histroy</option>
        </select>
        <div class="close_btn"> X </div>
    </div>
    <div class="clear"></div>
</header>